.navbar {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo-placeholder img {
  width: 40px;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar nav a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.desativado {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
}

.bloqueado {
  pointer-events: none;
}
