.navbar {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-placeholder{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.logo-placeholder img{
  width: 40px;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 500;
}

.navbar nav a:hover {
  text-decoration: underline;
}
