<main class="login-container">
  <div class="login-box">

    <div class="left-side">
      <div class="image-placeholder">
        <img src="assets/logo.png" alt="Logo TechCare" />
      </div>
      <h2>TechCare</h2>
    </div>

    <div class="right-side">

      <h2>{{ titulo }}</h2>
      <p>{{ subtitulo }}</p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-login">

        <div *ngFor="let campo of campos" class="input-group">

          <label>
            {{ campo.placeholder }}:
            <input
              [type]="campo.type"
              [placeholder]="campo.placeholder"
              [formControlName]="campo.model"
            />
          </label>

          <div class="erro"
            *ngIf="form.controls[campo.model].touched && form.controls[campo.model].invalid">

            <small *ngIf="form.controls[campo.model].errors?.['required']">
              Este campo é obrigatório.
            </small>

            <small *ngIf="form.controls[campo.model].errors?.['email']">
              Insira um e-mail válido.
            </small>

            <small *ngIf="form.controls[campo.model].errors?.['minlength']">
              Mínimo de {{ form.controls[campo.model].errors?.['minlength'].requiredLength }} caracteres.
            </small>

          </div>

          <br>
        </div>

        <a class="forgot" *ngIf="mostrarEsqueciSenha" [routerLink]="['/esqueci-senha']">
          Esqueci a senha
        </a>

        <button type="submit" class="btn-entrar" [disabled]="form.invalid">
          {{ textoBotao }}
        </button>

        <p class="cadastro">
          {{ linkDescricao }}
          <a [routerLink]="linkRota"><strong>{{ linkTexto }}</strong></a>
        </p>

      </form>
    </div>
  </div>
</main>
